<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Redirect all requests to the index.html file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L]
RewriteCond %{HTTP_HOST} !^emergecomputers.com$
RewriteRule ^(.*)$ https://emergecomputers.com/$1 [R=301,L]
RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://emergecomputers.com/$1 [R,L]
</IfModule>